body {
    font-size: 12px;
    border: 1px solid #000;
    font-family: Helvetica Neue, Helvetica, Arial, Malgun gothic, '돋움', AppleSDGothicNeo;
}

ul,
ol,
li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
