body {
    font-size: 12px;
    font-family: $font-family-base;
}

a {
    color: $link-color;
}

a:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

.hidden{
    display: none;
}

pre{
    display: block;
    padding: 9.5px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
}
