$color_1: #fa3282;
$color_2: #31708f;
$color_3: #aaa;
$color_4: #181818;
$color_5: #777;
$font_family_1: Verdana,
sans-serif;
$background_color_1: #f4f7f8;
.main {
    padding: 20px;
    left: 297px;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;
}

