.main {
    left: 297px;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;
    h1,
    h2,
    h3,
    h4 {
        color: #5f5f5f;
        font-weight: 400;
        letter-spacing: .5px;
    }
    header{
        margin-left: 30px;
    }
    .name{
            background-color: #eee;
            font-weight: 700;
            overflow-y: hidden;
            font-size: 14px;
            padding: 40px 100px;
            code{
                font-size: 12px;
                margin-top: 10px;
                a{
                    color:$gray-400;
                }
            }
    }
}

