.mynav {
    width: 290px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    padding: 0 20px;
    box-sizing: border-box;
    .title{
        text-align: center;
    }
    .lnb-api>ul>li,
    .lnb-examples>ul>li{
       padding: 10px;
       .toggle-subnav{
           margin-left: 8px;
       }
    }
}

#resizer {
    width: 7px;
    position: fixed;
    left: 290px;
    height: 100%;
    background-color: #e5e5e5;
    background-image: url(/img/thumb_vertical.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: col-resize;
}
