.readme {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: #24292e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.readme .pl-c {
    color: #6a737d;
}

.readme .pl-c1,
.readme .pl-s .pl-v {
    color: #005cc5;
}

.readme .pl-e,
.readme .pl-en {
    color: #6f42c1;
}

.readme .pl-smi,
.readme .pl-s .pl-s1 {
    color: #24292e;
}

.readme .pl-ent {
    color: #22863a;
}

.readme .pl-k {
    color: #d73a49;
}

.readme .pl-s,
.readme .pl-pds,
.readme .pl-s .pl-pse .pl-s1,
.readme .pl-sr,
.readme .pl-sr .pl-cce,
.readme .pl-sr .pl-sre,
.readme .pl-sr .pl-sra {
    color: #032f62;
}

.readme .pl-v,
.readme .pl-smw {
    color: #e36209;
}

.readme .pl-bu {
    color: #b31d28;
}

.readme .pl-ii {
    color: #fafbfc;
    background-color: #b31d28;
}

.readme .pl-c2 {
    color: #fafbfc;
    background-color: #d73a49;
}

.readme .pl-c2::before {
    content: "^M";
}

.readme .pl-sr .pl-cce {
    font-weight: bold;
    color: #22863a;
}

.readme .pl-ml {
    color: #735c0f;
}

.readme .pl-mh,
.readme .pl-mh .pl-en,
.readme .pl-ms {
    font-weight: bold;
    color: #005cc5;
}

.readme .pl-mi {
    font-style: italic;
    color: #24292e;
}

.readme .pl-mb {
    font-weight: bold;
    color: #24292e;
}

.readme .pl-md {
    color: #b31d28;
    background-color: #ffeef0;
}

.readme .pl-mi1 {
    color: #22863a;
    background-color: #f0fff4;
}

.readme .pl-mc {
    color: #e36209;
    background-color: #ffebda;
}

.readme .pl-mi2 {
    color: #f6f8fa;
    background-color: #005cc5;
}

.readme .pl-mdr {
    font-weight: bold;
    color: #6f42c1;
}

.readme .pl-ba {
    color: #586069;
}

.readme .pl-sg {
    color: #959da5;
}

.readme .pl-corl {
    text-decoration: underline;
    color: #032f62;
}

.readme .octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.readme a {
    background-color: transparent;
}

.readme a:active,
.readme a:hover {
    outline-width: 0;
}

.readme strong {
    font-weight: inherit;
}

.readme strong {
    font-weight: bolder;
}

.readme h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.readme img {
    border-style: none;
}

.readme code,
.readme kbd,
.readme pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.readme hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.readme input {
    font: inherit;
    margin: 0;
}

.readme input {
    overflow: visible;
}

.readme [type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.readme * {
    box-sizing: border-box;
}

.readme input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.readme a {
    color: #0366d6;
    text-decoration: none;
}

.readme a:hover {
    text-decoration: underline;
}

.readme strong {
    font-weight: 600;
}

.readme hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
}

.readme hr::before {
    display: table;
    content: "";
}

.readme hr::after {
    display: table;
    clear: both;
    content: "";
}

.readme table {
    border-spacing: 0;
    border-collapse: collapse;
}

.readme td,
.readme th {
    padding: 0;
}

.readme h1,
.readme h2,
.readme h3,
.readme h4,
.readme h5,
.readme h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.readme h1 {
    font-size: 32px;
    font-weight: 600;
}

.readme h2 {
    font-size: 24px;
    font-weight: 600;
}

.readme h3 {
    font-size: 20px;
    font-weight: 600;
}

.readme h4 {
    font-size: 16px;
    font-weight: 600;
}

.readme h5 {
    font-size: 14px;
    font-weight: 600;
}

.readme h6 {
    font-size: 12px;
    font-weight: 600;
}

.readme p {
    margin-top: 0;
    margin-bottom: 10px;
}

.readme blockquote {
    margin: 0;
}

.readme ul,
.readme ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.readme ol ol,
.readme ul ol {
    list-style-type: lower-roman;
}

.readme ul ul ol,
.readme ul ol ol,
.readme ol ul ol,
.readme ol ol ol {
    list-style-type: lower-alpha;
}

.readme dd {
    margin-left: 0;
}

.readme code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

.readme pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

.readme .octicon {
    vertical-align: text-bottom;
}

.readme .pl-0 {
    padding-left: 0 !important;
}

.readme .pl-1 {
    padding-left: 4px !important;
}

.readme .pl-2 {
    padding-left: 8px !important;
}

.readme .pl-3 {
    padding-left: 16px !important;
}

.readme .pl-4 {
    padding-left: 24px !important;
}

.readme .pl-5 {
    padding-left: 32px !important;
}

.readme .pl-6 {
    padding-left: 40px !important;
}

.readme::before {
    display: table;
    content: "";
}

.readme::after {
    display: table;
    clear: both;
    content: "";
}

.readme>*:first-child {
    margin-top: 0 !important;
}

.readme>*:last-child {
    margin-bottom: 0 !important;
}

.readme a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.readme .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

.readme .anchor:focus {
    outline: none;
}

.readme p,
.readme blockquote,
.readme ul,
.readme ol,
.readme dl,
.readme table,
.readme pre {
    margin-top: 0;
    margin-bottom: 16px;
}

.readme hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
}

.readme blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

.readme blockquote>:first-child {
    margin-top: 0;
}

.readme blockquote>:last-child {
    margin-bottom: 0;
}

.readme kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
}

.readme h1,
.readme h2,
.readme h3,
.readme h4,
.readme h5,
.readme h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.readme h1 .octicon-link,
.readme h2 .octicon-link,
.readme h3 .octicon-link,
.readme h4 .octicon-link,
.readme h5 .octicon-link,
.readme h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
}

.readme h1:hover .anchor,
.readme h2:hover .anchor,
.readme h3:hover .anchor,
.readme h4:hover .anchor,
.readme h5:hover .anchor,
.readme h6:hover .anchor {
    text-decoration: none;
}

.readme h1:hover .anchor .octicon-link,
.readme h2:hover .anchor .octicon-link,
.readme h3:hover .anchor .octicon-link,
.readme h4:hover .anchor .octicon-link,
.readme h5:hover .anchor .octicon-link,
.readme h6:hover .anchor .octicon-link {
    visibility: visible;
}

.readme h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
}

.readme h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef;
}

.readme h3 {
    font-size: 1.25em;
}

.readme h4 {
    font-size: 1em;
}

.readme h5 {
    font-size: 0.875em;
}

.readme h6 {
    font-size: 0.85em;
    color: #6a737d;
}

.readme ul,
.readme ol {
    padding-left: 2em;
}

.readme ul ul,
.readme ul ol,
.readme ol ol,
.readme ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.readme li {
    word-wrap: break-all;
}

.readme li>p {
    margin-top: 16px;
}

.readme li+li {
    margin-top: 0.25em;
}

.readme dl {
    padding: 0;
}

.readme dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.readme dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.readme table {
    display: block;
    width: 100%;
    overflow: auto;
}

.readme table th {
    font-weight: 600;
}

.readme table th,
.readme table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.readme table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.readme table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.readme img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
}

.readme img[align=right] {
    padding-left: 20px;
}

.readme img[align=left] {
    padding-right: 20px;
}

.readme code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
}

.readme pre {
    word-wrap: normal;
}

.readme pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.readme .highlight {
    margin-bottom: 16px;
}

.readme .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.readme .highlight pre,
.readme pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.readme pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.readme .full-commit .btn-outline:not(:disabled):hover {
    color: #005cc5;
    border-color: #005cc5;
}

.readme kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #d1d5da;
    border-bottom-color: #c6cbd1;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #c6cbd1;
}

.readme :checked+.radio-label {
    position: relative;
    z-index: 1;
    border-color: #0366d6;
}

.readme .task-list-item {
    list-style-type: none;
}

.readme .task-list-item+.task-list-item {
    margin-top: 3px;
}

.readme .task-list-item input {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
}

.readme hr {
    border-bottom-color: #eee;
}
