table.params {
    box-sizing: border-box;
    border-collapse:collapse;
    th{
        background: #999;
        color: #fff;
    }
    th,td {
        border: 1px solid #d8d8d8;
        padding:10px 30px;
    }
}

