$color_1: #aaa;
$color_2: #fff;
$color_3: #999;
.mynav-tab {

    text-align: center;
    text-decoration: none;
    li {
        display: inline-block;
        padding-top: 15px;
        a {
            color: $color_1;
            font-size: 0.9em;
        }
    }
    li.selected {
        a {
            color: $color_2;
            font-size: 1em;
        }
    }
    li+li {
        a {
            h4 {
                &:before {
                    content: "\007C";
                    display: inline-block;
                    color: $color_3;
                    padding: 0 10px;
                }
            }
        }
    }
}

