$blue : #007bff !default;
$indigo : #6610f2 !default;
$purple : #6f42c1 !default;
$pink : #e83e8c !default;
$red : #dc3545 !default;
$orange : #fd7e14 !default;
$yellow : #ffc107 !default;
$green : #28a745 !default;
$teal : #20c997 !default;
$cyan : #17a2b8 !default;

$white : #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black : #000 !default;

$primary : $blue !default;
$secondary : $gray-600 !default;
$success : $green !default;
$info : $cyan !default;
$warning : $yellow !default;
$danger : $red !default;
$light : $gray-100 !default;
$dark : $gray-800 !default;


$body-bg : $white !default;
$body-color : $gray-900 !default;

$link-color : theme-color("primary") !default;
$link-decoration : none !default;
$link-hover-color : darken($link-color, 15%) !default;
$link-hover-decoration : underline !default;

$line-height-lg : 1.5 !default;
$line-height-sm : 1.5 !default;
$border-width : 1px !default;
$border-color : $gray-300 !default;
$border-radius : .25rem !default;
$border-radius-lg : .3rem !default;
$border-radius-sm : .2rem !default;

$transition-base : all .2s ease-in-out !default;
$transition-fade : opacity .15s linear !default;
$transition-collapse : height .35s ease !default;


$font-family-sans-serif : -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol" !default;
$font-family-monospace : SFMono-Regular,
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace !default;
$font-family-base : $font-family-sans-serif !default;
